*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Helvetica neue';
    src: url(/public/font/Helvetica-neue.otf);
    font-display: swap;
} 
body{
    font-family: var(--helvetica-font); 
}
:root{
    --helvetica-font: 'Helvetica neue';
    --color-blue:#1f0af4;
    --color-violet:#8a7ff9;
    --color-dark-blue:rgb(12, 4, 92);
    --color-medium-blue:#130692;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
p{
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 1px;
}
h1{
    font-size: clamp( 35px, 6.5vw, 6.5vh);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h2{
    font-size: clamp( 25px, 4.5vw, 4.5vh);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h3{
    font-size: clamp( 18px, 2vw, 2vh);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h4{
    font-size: calc(12px + .5vw);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
span{
    color: var(--color-violet);
}
h1 span{
    -webkit-text-stroke: .4px #fff;
}

/* 
===================================
================  HEADER  ===================
===================================
*/

.logo{
    width: 150px;
    margin-left: -45px;
}
path{
    fill: #000;
}
svg{
    width: 100%;
    height: 100%;
}
.toggle-btn{
    width: 30px;
    cursor: pointer;
}
header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: #fff;
}
.navbar-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbar-desktop .menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar-desktop .menu{
    height: 100%;
}
.navbar-desktop .menu-list a{
    padding: 50px 20px;
    transition: .5s all ease;
}
.navbar-desktop .menu-list a:hover{
    color: #fff;
    background: var(--color-violet);
}

/* 
===================
===========  Mobile ================
===================
*/
.navbar-mobile{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.open-close{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.menu-listm{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: absolute;
    gap: 15px;
    transform: translateY(-400px);
    transition: .5s all ease-in-out;
    width: 100%;
}
.menu-active{
    transform: translateY(-4vh);
    height: 200px;
    background: #fff;
    z-index: 9;
}

/* .header-nav{
    height: 320px;
} */

@media screen and (max-width: 800px) {
    .navbar-desktop{
        display: none;
    }
    header{
        height: auto;
    }
    .menu-listm{
        display: flex;
    }
}



/* 
===================
===========  Slider ================
===================
*/

.slider{
    width: 100%;
    height: 700px;
    background: url(/public/img/slider/home\ \(3\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
}

.slider::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background: rgba(0,0,0, .4);
}

.slider-text{
    padding-left: 100px;
    width: 60%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
button{
    background: var(--color-violet);
    color: #fff;
    font-size: 20px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: .3s all;
    border: 2px solid transparent;
}
button:hover{
    background: #fff;
    color: var(--color-violet);
    border: 2px solid var(--color-violet);
}

@media screen and (max-width: 1025px) {
    .slider-text{
        width: 95%;
        margin: 0 auto;
        padding-left: 0px;
    }
}


/* 
===================
===========  About Company ================
===================
*/

.about-company{
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: space-evenly;
    gap: 10px;
}


.img-company{
    background-image: url(/public/img/slider/home\ \(3\).webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: calc(400px + 10vw);
    height: 450px;
}
.border-line{
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    width: 97%;
    height: 97%;
    border: 1.5px solid #fff;
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 450px;
}
.info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
}
.info-text h2 span{
    color: var(--color-violet);
}
.about-icons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    gap: 30px;
}
.a-icons{
    width: 100px;
}

@media screen and (max-width: 1025px) {
    .img-company{
        width: 100%;
        height: 500px;
    }    
    .about-company{
        grid-template-columns: repeat(auto-fill, 100%);
        padding: 1.5rem .5rem;
        gap: 30px;
    }
    .border-line{
        width: 97.5%;
        height: 95%;
    }
    .info-text{
        margin: 0 auto;
        text-align: center;
        width: 99%;
    }
    .about-info{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}



/* 
===================
===========  About Company ================
===================
*/

.services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    background: #000;
}
.services-header{
    background: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}
.our-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 25vw));
    justify-content: center;
    gap: 50px;
    row-gap: 40px;
    background: #000;
    padding: 4rem 0;
}
.card{
    text-align: center;
    background: #fff;
    height: auto;
    width: 100%;
}
.card-text{
    padding: 1.5rem 8px 2rem 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.card button{
    background: var(--color-violet);
    color: #fff;
    font-size: 20px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: .3s all;
    border: 2px solid transparent;
}
.card button:hover{
    background: #fff;
    color: var(--color-violet);
    border: 2px solid #8a7ff9;
}



/* 
===================
===========  Lastest Project ================
===================
*/


.latest-project{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 4rem 0;
}
.latest-header{
    width: 100%;
    text-align: center;
}
.latest-grid-2,
.latest-grid-1{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.latest-grid-1{
    grid-template-columns: repeat(auto-fill, 31vw);
}
.latest-grid-2{
    grid-template-columns: repeat(auto-fill, 22vw);
}


@media screen and (max-width: 900px) {
    .latest-grid-1{
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .latest-grid-2{
        grid-template-columns: repeat(auto-fill, 300px);
    }
}
@media screen and (max-width: 650px) {
    .latest-grid-1{
        grid-template-columns: repeat(auto-fill, 90%);
    }
    .latest-grid-2{
        grid-template-columns: repeat(auto-fill, 90%);
    }
}






/* 
===================
===========  Our Team ================
===================
*/


.our-team{
    height: 100%;
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.our-header{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0 5px;
}
.our-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.team-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.team-header{
    background: var(--color-violet);
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.team-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team-img img{
    transition: .3s all;
}
.team-img:hover img{
    cursor: pointer;
    scale: 1.15;
    transform: rotate(-10deg);
}




/* 
===================
===========  Contact us ================
===================
*/


.contact-us{
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    background: #000;
    color: #fff;
}
.contact-abt{
    padding: 0;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 20px;
}
.contact-text h2{
    font-size: clamp(25px, 6vw, 6vh);
    line-height: 25px;
}
.contact-text h2 span{
    font-size: clamp(16px, 2.5vw, 2.5vh);
    vertical-align: middle;
}
.contact-abt .contact-text button{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* 
===================
===========  Our Team ================
===================
*/

.footer{
    display: flex;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    text-transform: capitalize;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .footer{
        flex-direction: column;
        row-gap: 5px;
        text-align: center;
    }
}